@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #209ea7 25%, #8b5695 80%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin-bottom: 0rem;
  text-align: center;
  margin-right: 2.85rem;
}

header img {
  width: 7rem;
  height: 7rem;
  border-radius: 10%;
  margin-bottom: 0rem;
  margin-top: -2rem;
}

header h1 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 3rem;
  color: #0f020b;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h4 {
  font-size: 20px;
  font-weight: 300;
  color: #11e279;
  margin-bottom: 1rem;
  letter-spacing: px;

}

header p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #f2efed;
  margin-bottom: 3rem;
  letter-spacing: px;
}

header h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #090511;
  margin-bottom: 0rem;
  margin-top: 0rem;
  letter-spacing: 1px;
}

.content img {
  width: 4rem;
  height: 4rem;
  border-radius: 80%;
  margin-bottom: 0rem;
  margin-top: -2rem;
  cursor: pointer;
}

.box {
  display: flex;
  justify-content:baseline;
  align-items: center;
  flex-direction: column;
  margin-top: rem;
  background-color: rgba(0, 0, 0, 0.484);
  
}

.box li {
  font-size: 19px;
  font-weight: 00;
  color: #c8a6a6da;
  margin-bottom: 1.5rem;
  letter-spacing: 0.4px;
  text-align:start;
  margin-left: 10px;
}



/* LAYOUT */
main {
  position: relative;
  width: 80rem;
  height: 70rem;
  background-color: rgba(0, 4, 255, 0.205);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.574);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #d73030;
  margin-bottom: auto;
}

.player--active {
  background-color: #fffeffd2;
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #ca1045;
  opacity: 0.8;
  border-radius: 9px;
  color: #fdfbfb;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  box-shadow: #2f2f2f 0 1rem 2rem;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ffffff;
}

.current-score {
  font-size: 3.5rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #b9b9c9;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: rgb(17, 119, 34);
  background-color: rgba(55, 47, 47, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 1.75rem 3.5rem rgba(35, 10, 10, 0.3);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(41, 16, 16, 0.262);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2fdf0ff7;

}

.player--looser {
  background-color: #000000;
  color: #ffffffa4;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}


